<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="container">
        <form action="/add" method="post">
            <h1 class="heading-1"><label for="">Add Student Name</label></h1>
            <br>
            <br>
            <input type="text" placeholder="Enter Name" name="name" required class="student-input">
            <br>
            <br>
            <button type="submit" class="add-btn">Add</button>
        </form>
    </div>
</body>

</html>