<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All StudentList</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="container">
        <h1 class="heading-1">Student List</h1>

        <a href="/add" class="add-btn">Add Student Data</a>

        <ul>
            <% studentList.forEach((s)=> {%>
                <li>
                    <p>
                        <span class="student-name">
                            <%=s.name%>
                        </span>
                        <a href="/edit/<%=s.id%>" class="edit-btn">Edit</a>

                        <a href="/delete/<%=s.id%>" class="delete-btn">Delete</a>
                    </p>

                </li>
                <%})%>
        </ul>
    </div>
</body>

</html>